configuration {
  show-icons:         true;
  icon-theme:         "Tela-orange";

  theme: "~/.cache/wal/colors-rofi-dark.rasi";
  theme: "~/.config/rofi/themes/appsmenu.rasi";

  cycle:              true;
  hide-scrollbar:     true;
  disable-history:    false;
  modi:               "drun,run,window";
  display-drun:       "apps";
  columns: 1;

  terminal: "termite";
}
